SPRING BOOT REST API - REAL TIME PROJECT

RESTApi <---> database

Requirements:
1. Create a REST API for Employee Directory
2. Client
    a: GET List of Employees
    b: GET a single Employee by id
    c: POST - Add Employee
    d: PUT -Update Employee
    e: DELETE an Employee

Process:
1. Update DB configs in application properties
2. Create Employee Entity
3. Create DAO interface
4. Create DAO implementation
5. Create REST controller

Architecture
Employee REST CONTROLLER <---> Employee Service <---> Employee DAO(Hibernate) <---> DB


*******************************************

JPA - Java Persistence API(JPA)
 -- standard API for ORM
 -- only requires an implementation for use
  -- defines a set of interfaces
  -- requires an implementation to be usable
 -- Vendor Implementations - can change vendors without affecting app
  -- Hibernate...etc
    -- default implementation of JPA
